.testimonial-content{
	text-align: center;
    z-index: 0;
    position: relative;

	img{
    	// box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	}
    z-index: 0;
    position: relative;
	padding: 25px;

	i{
		font-size: 60px;
	}

	p{
		margin-top: 30px;
		margin-bottom: 25px;
	}

}